<html>
  <head>
    <title>A Game of Rules</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <h1>Hello there</h1>
    <p>This is a group excercise to help you think about designing games and play. You will be creating a set of rules for a game in a different way. Once each person in your group has opened this page on their browser you are ready to play.</p>

    <p>Decide an order of play, the person who is going first writes 3 rules for a game in the input fields below, and submits those rules.  The other players will only see the last rule they have written.</p>

    <p>The next person writes their rules and submits them. Once everyone has written their rules click on the reveal all rules button to see what everyone has written, then design a game around those rules.</p>

    <hr>

    <div id="inputName">
      <h2>Write your rules</h2>
      <input class="rule" autocomplete="off" placeholder="type in rule 1"/>
      <input class="rule" autocomplete="off" placeholder="type in rule 2"/>
      <input class="rule" autocomplete="off" placeholder="type in rule 3"/>

      <button id="sendButton">Submit your rules</button>
      <h2 id="warning"></h2>
    </div>

    <hr>
    
    <div id = "results">
      <h2>Game Rules</H2>
      <div id = "resultList"></div>

    </div>
    <section>
        <p class="instructions">When everyone has written 3 rules</p>
        <button id="seeRules">reveal all rules</button>
        <div id="next">
          <p>Now you have a set of rules for a game you can work out the physical stucture of the game. Think about how you would make this as a physical computing project. How would the players interact, would there be a board, what would the game look like.</p>
          <p>If you want to play everyone just refreshes their browser page to start again.</p>

        </div>
        

    </section>


    <script src="game.js"></script>
 </body> 
</html>